<header id="home" class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Political-Tech Activism</h1>
      <h2>Commited to eliminate corruption and fix our democracys</h2>
      <h2>🚀 MEETS THE SPACE 🚀</h2>
    </div>
    <div class="header-start">
      <a
        mat-raised-button
        color="accent"
        class="button"
        href="https://airtable.com/shrvNukOEICNxELNN"
        target="_blank"
        >Want to volunteer? Sign up!</a
      >
    </div>
  </div>
</header>
<div *ngIf="loginService.user | async; then authenticated; else guest"></div>
<ng-template #authenticated>
  <span>Logoueado como: </span><span>{{ user | async | json }}</span>
  <button mat-button (click)="singOut()">Cerrar sesión</button>
  <app-add-new-congresista> </app-add-new-congresista>
</ng-template>
<ng-template #guest>
  <button mat-button (click)="googleLogin()">Login con Google</button>
</ng-template>
